<extend name="account_common" />
<block name="usercontent">
	<div class="w1200">
		<div class="user_msg_pl">
			
			<div class="user_msg_pl_right">
				<span class="user_msg_pl_right_1">
					<img src="__PC__/images/msg.png"/>
				</span>
				<span class="user_msg_pl_right_2">私信</span>
				<span class="user_msg_pl_right_3">关注</span>
			</div>
		</div>
		<div class="user_msg_form">
			<form action="" method="post">
				<textarea name="msg"></textarea>
				<input type="submit" value="发送" class="user_msg_form_sub" name="msg_btn"/>
			</form>
			
		</div>
		<div class="user_msg_content">
			<ul class="user_msg_content_ul">
				<li class="user_msg_content_li">
					<div class="user_msg_content_img">
						<img src="__PC__/images/cimgpng.png" />
					</div>
					<div class="user_msg_content_msg">
						<div><span class="user_msg_content_msg_1">彭于晏</span>
							<span class="user_msg_content_msg_2">2017月12月10日&nbsp;&nbsp;09:20</span>
						</div>
						<div class="user_msg_content_msg_3">
							啦啦啦姐姐姐姐姐叫姐姐姐啦啦啦
						</div>
					</div>
				</li>
				<li class="user_msg_content_li_my">
					
					<div class="user_msg_content_msg_my">
						<div><span class="user_msg_content_msg_1">彭于晏</span>
							<span class="user_msg_content_msg_2">2017月12月10日&nbsp;&nbsp;09:20</span>
						</div>
						<div class="user_msg_content_msg_my_3">
							啦啦啦姐姐姐姐姐叫姐姐姐啦啦啦
						</div>
					</div>
					<div class="user_msg_content_img_my">
						<img src="__PC__/images/cimgpng.png" />
					</div>
				</li>
				
				<li class="user_msg_content_li">
					<div class="user_msg_content_img">
						<img src="__PC__/images/cimgpng.png" />
					</div>
					<div class="user_msg_content_msg">
						<div><span class="user_msg_content_msg_1">彭于晏</span>
							<span class="user_msg_content_msg_2">2017月12月10日&nbsp;&nbsp;09:20</span>
						</div>
						<div class="user_msg_content_msg_3">
							啦啦啦姐姐姐姐姐叫姐姐姐啦啦啦
						</div>
					</div>
				</li>
				<li class="user_msg_content_li_my">
					
					<div class="user_msg_content_msg_my">
						<div><span class="user_msg_content_msg_1">彭于晏</span>
							<span class="user_msg_content_msg_2">2017月12月10日&nbsp;&nbsp;09:20</span>
						</div>
						<div class="user_msg_content_msg_my_3">
							啦啦啦姐姐姐姐姐叫姐姐姐啦啦啦
						</div>
					</div>
					<div class="user_msg_content_img_my">
						<img src="__PC__/images/cimgpng.png" />
					</div>
				</li>
			</ul>
			<div class="user_msg_page">
				<span class="msg_on">1</span><span>2</span><span>3</span><span>></span>
			</div>
		</div>
	</div>
</block>