<extend name="account_common" />
<block name="usercontent">	
	<div class="w1200">
		<div class="user_con_pl">
			<div class="user_loc_pl_left"><img src="__PC__/images/loc.png"/></div>
			<div class="user_con_pl_right">发布动态</div>
		</div>
		<div class="user_loc">			
			<div class="user_loc_left fl">
				<div class="user_loc_left_1">
					<div class="user_loc_left_1_img fl">
						<img src="__PC__/images/cimgpng.png" />
						<div>
							<div style="color:#898686;font-size: 10px;margin-top: 15px;">10-29 20:25</div>
						</div>						
					</div>
					<div class="user_loc_left_1_con fl">
						<div class="user_loc_left_1_con_top">吴琼在琼瑶中发表了 我在这</div>
						<div class="user_loc_left_1_con_middle">
							<img src="__PC__/images/lo22.png" /><img src="__PC__/images/lo22.png" />
						</div>
						<div class="user_loc_left_1_con_bottom">
							<span>评论</span>&nbsp;<span>200</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞</span>&nbsp;<span>(20)</span>
						</div>
					</div>
				</div>
				<div class="user_loc_left_1">
					<div class="user_loc_left_1_img fl">
						<img src="__PC__/images/cimgpng.png" />
						<div>
							<div style="color:#898686;font-size: 10px;margin-top: 15px;">10-29 20:25</div>
						</div>						
					</div>
					<div class="user_loc_left_1_con fl">
						<div class="user_loc_left_1_con_top">吴琼在琼瑶中发表了 我在这</div>
						<div class="user_loc_left_1_con_middle">
							<img src="__PC__/images/lo22.png" /><img src="__PC__/images/lo22.png" />
						</div>
						<div class="user_loc_left_1_con_bottom">
							<span>评论</span>&nbsp;<span>200</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞</span>&nbsp;<span>(20)</span>
						</div>
					</div>
				</div>
				<div class="user_loc_left_1">
					<div class="user_loc_left_1_img fl">
						<img src="__PC__/images/cimgpng.png" />
						<div>
							<div style="color:#898686;font-size: 10px;margin-top: 15px;">10-29 20:25</div>
						</div>						
					</div>
					<div class="user_loc_left_1_con fl">
						<div class="user_loc_left_1_con_top">吴琼在琼瑶中发表了 我在这</div>
						<div class="user_loc_left_1_con_middle">
							<img src="__PC__/images/lo22.png" /><img src="__PC__/images/lo22.png" />
						</div>
						<div class="user_loc_left_1_con_bottom">
							<span>评论</span>&nbsp;<span>200</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞</span>&nbsp;<span>(20)</span>
						</div>
					</div>
				</div>
				<div class="user_loc_left_1">
					<div class="user_loc_left_1_img fl">
						<img src="__PC__/images/cimgpng.png" />
						<div>
							<div style="color:#898686;font-size: 10px;margin-top: 15px;">10-29 20:25</div>
						</div>						
					</div>
					<div class="user_loc_left_1_con fl">
						<div class="user_loc_left_1_con_top">吴琼在琼瑶中发表了 我在这</div>
						<div class="user_loc_left_1_con_middle">
							<img src="__PC__/images/lo22.png" /><img src="__PC__/images/lo22.png" />
						</div>
						<div class="user_loc_left_1_con_bottom">
							<span>评论</span>&nbsp;<span>200</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞</span>&nbsp;<span>(20)</span>
						</div>
					</div>
				</div>
			</div>
			<div class="user_loc_right fl">
			    <div class="user_loc_right_1">
			    	<span class="loc_active">谁看过我</span>&nbsp;|&nbsp;<span>我看过谁</span>
			    </div>
			    <div class="user_loc_right_2">
			    	<ul class="user_loc_right_2_ul">
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		<li class="user_loc_right_2_li">
			    			<span><img src="__PC__/images/cimgpng.png"/></span>
			    			<span style="margin-left: 15px;display: inline-block;width: 135px;">约翰德斯</span>
			    			<span class="user_loc_right_2_li_date">2017-12-20</span>
			    		</li>
			    		
			    	</ul>
			    	<div class="user_loc_right_2_more">查看更多</div>
			    </div>
		    </div>
		</div>
		<div class="user_loc_more">
			<span class="loc_active_page">1</span><span>2</span><span>3</span><span>></span>
		</div>
	</div>
	
</block>